### Model Evaluation Exercises



2. Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [15]:
Accuracy = (46 + 34)/(46 + 7 + 13 + 34)
print(f'Accuracy = {Accuracy}')

Accuracy = 0.8

In [16]:
Recall = (46 / (46 + 13))
print(f'Recall = {Recall}')

Recall = 0.7796610169491526

In [17]:
Precision = (46/(46 + 7))
print(f'Precision = {Precision}')

Precision = 0.8679245283018868

- In the context of this problem, what is a false positive?

A false positive would be you predict cat but it is actually a dog.

- In the context of this problem, what is a false negative?

A false negative would be you predict a dog but it is actually a cat.

- How would you describe this model?

In [10]:
model_accuracy = (46 + 34)/(46 + 7 + 13 + 34)
print(f'Accuracy = {model_accuracy}')

baseline_accuracy = (46/100)
print(f'Baseline accuracy = {baseline_accuracy}')

Accuracy = 0.8
Baseline accuracy = 0.46

In [15]:
model_recall = (46 / (46 + 7))
print(f'Recall = {model_recall}')

baseline_recall = (46/ (46 +0))
print(f'Baseline recall = {baseline_recall}')

Recall = 0.8679245283018868
Baseline recall = 1.0

In [14]:
precision = (46/(46 + 13))
print(f'Precision = {precision}')

baseline_precision = (46 / 100)
print(f'Baseline precision = {baseline_precision}')

Precision = 0.7796610169491526
Baseline precision = 0.46

## Model Description

- Overall the model is accurate. It has higher accuracy (80%) than the baseline accuracy (46%) and i slightly higher recall than precision meaning it errors on the side of guessing dog so that it doesn't miss out on any dog predicitions. The cost is it has slightly less accurate dog predictions.

3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [39]:
import pandas as pd
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

 Baseline is most frequently occuring value
 For the model your target is defects
 
 \+ = defect\
 \- = no defect

BASELINE - will be 'No Defect'

TP - predicting a defect and it is  \
FP - predicting a defect and there is no defect \
TN - predicting no defect and there is no defect\
FN - predicting no defect and there is a defect 

Worse case scenario\
 FN - assuming there is no defect and there is

Which evaluation model is appropriate
Model3 is the most appropriate model as it predicts the lowest number of no defect. This model errors on the side of identifying a defect more often. It is optimized for recall.

In [46]:
df['baseline'] = 'Defect'
df

        actual     model1     model2     model3 baseline
0    No Defect  No Defect     Defect  No Defect   Defect
1    No Defect  No Defect     Defect     Defect   Defect
2    No Defect  No Defect     Defect  No Defect   Defect
3    No Defect     Defect     Defect     Defect   Defect
4    No Defect  No Defect     Defect  No Defect   Defect
..         ...        ...        ...        ...      ...
195  No Defect  No Defect     Defect     Defect   Defect
196     Defect     Defect  No Defect  No Defect   Defect
197  No Defect  No Defect  No Defect  No Defect   Defect
198  No Defect  No Defect     Defect     Defect   Defect
199  No Defect  No Defect  No Defect     Defect   Defect

[200 rows x 5 columns]

In [49]:
positive = 'Defect'

# accuracy -- overall hit rate
model_accuracy = (df.model1 == df.actual).mean()
baseline_accuracy = (df.baseline == df.actual).mean()

# precision -- how good are our positive predictions?
# precision -- model performance | predicted positive
subset = df[df.model1 == positive]
model_precision = (subset.model1 == subset.actual).mean()
subset = df[df.baseline == positive]
baseline_precision = (subset.baseline == subset.actual).mean()

# recall -- how good are we at detecting actual positives?
# recall -- model performance | actual positive
subset = df[df.actual == positive]
model_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline == subset.actual).mean()


print(f'   model1 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')
print()
print(f'   model1 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')
print()
print(f'model1 precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

   model1 accuracy: 95.00%
baseline accuracy: 8.00%

   model1 recall: 50.00%
baseline recall: 100.00%

model1 precision: 80.00%
baseline precision: 8.00%

Precision - when you want to be absolutely sure about positive predictions of a defect since giving a trip to hawaii to a customer who doesn't have a defect is most costly.

Model1 has the highest precision and predictions of true positives

4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

- b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

- c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [55]:
df = pd.read_csv('gives_you_paws.csv')
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [56]:
df.describe()

       actual model1 model2 model3 model4
count    5000   5000   5000   5000   5000
unique      2      2      2      2      2
top       dog    dog    cat    dog    dog
freq     3254   2937   3212   2508   4253

baseline is the most frequently occuring, 
in this case the target is is dogs

\+ = dog\
\- = cat

TP - predicting dog and is dog \
TN - prediciting cat and is cat \
FP - predicting dog but is cat \
FN - predicting cat but is dog

In [57]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [62]:
df['baseline'] = 'dog'

df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [76]:
positive = 'dog'
print(' Model1 and Model4 have a higher accuracy than the baseline')\

# accuracy -- overall hit rate
baseline_accuracy = (df.baseline == df.actual).mean()
model1_accuracy = (df.model1 == df.actual).mean()
model2_accuracy = (df.model2 == df.actual).mean()
model3_accuracy = (df.model3 == df.actual).mean()
model4_accuracy = (df.model4 == df.actual).mean()

print(f' baseline accuracy: {baseline_accuracy:.2%}')
print(f' model1 accuracy: {model1_accuracy:.2%}')
print(f' model2 accuracy: {model2_accuracy:.2%}')
print(f' model3 accuracy: {model3_accuracy:.2%}')
print(f' model4 accuracy: {model4_accuracy:.2%}')



# # precision -- how good are our positive predictions?
# # precision -- model performance | predicted positive
# subset = df[df.prediction == positive]
# model_precision = (subset.prediction == subset.actual).mean()
# subset = df[df.baseline == positive]
# baseline_precision = (subset.baseline == subset.actual).mean()

# # recall -- how good are we at detecting actual positives?
# # recall -- model performance | actual positive
# subset = df[df.actual == positive]
# model_recall = (subset.prediction == subset.actual).mean()
# baseline_recall = (subset.baseline == subset.actual).mean()


# print(f'   model accuracy: {model_accuracy:.2%}')
# print(f'baseline accuracy: {baseline_accuracy:.2%}')
# print()
# print(f'   model recall: {model_recall:.2%}')
# print(f'baseline recall: {baseline_recall:.2%}')
# print()
# print(f'model precision: {model_precision:.2%}')
# print(f'baseline precision: {baseline_precision:.2%}')

 Model1 and Model4 have a higher accuracy than the baseline
 baseline accuracy: 65.08%
 model1 accuracy: 80.74%
 model2 accuracy: 63.04%
 model3 accuracy: 50.96%
 model4 accuracy: 74.26%

In [89]:
subset.describe()

       actual model1 model2 model3 model4 baseline
count    3254   3254   3254   3254   3254     3254
unique      1      2      2      2      2        1
top       dog    dog    cat    dog    dog      dog
freq     3254   2614   1657   1655   3110     3254

In [81]:
# We are going to need the recall because we dont want to miss any positives 'dog' pictures 

subset = df[df.actual == 'dog']
# model_recall = (subset.prediction == subset.actual).mean()
# baseline_recall = (subset.baseline == subset.actual).mean()
for col in subset.columns:
    model_recall = (subset.actual == subset[col]).mean()
    print(f'{col}')
    print(f'Model recall {model_recall: .3%}')
    print('-' * 20)

actual
Model recall  100.000%
--------------------
model1
Model recall  80.332%
--------------------
model2
Model recall  49.078%
--------------------
model3
Model recall  50.860%
--------------------
model4
Model recall  95.575%
--------------------
baseline
Model recall  100.000%
--------------------

In [ ]:
# for phase 2 we need to focus on precision

5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report